# George
.ipynb_checkpoints/
.DS_Store
data/*
!data/*.tar.bz2
!data/*.tar
__pycache__/
lightning_logs/*/checkpoints/*.ckpt
meme-machine.pem

# Peter
.vscode/
templates/
*.pdf
!data/meme_templates_test
