# George
.ipynb_checkpoints/
.DS_Store
data/*
!data/*.tar.bz2
!data/*.tar
__pycache__/
test_outfile.txt
lightning_logs/*/checkpoints/*.ckpt
models/

# Peter
.vscode/
templates/
*.pdf
!data/meme_templates_test
